/*
* @Author: admin
* @Date:   2017-06-03 13:20:21
* @Last Modified by:   admin
* @Last Modified time: 2017-07-06 17:14:25
*/
body{
	background-color: #f2f2f2;
}
.nav{
	border: none;
	position: fixed;
	top: 0px;
	height: 46px;
	overflow: hidden;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 1000;
}
.nav li{
	width: 33.33%;
	text-align: center;
}
.nav-tabs>li>a,.nav-tabs>li.active>a,  .nav-tabs>li.active>a:hover{
	border: none;
	font-size: 17px;
	background-color: #fff;
	box-sizing: border-box;
}
.nav-tabs>li.active>a span,  .nav-tabs>li.active>a:hover span{
	display: inline-block;
	color: #f49f38;
	border-bottom: 3px solid #f49f38;
	height: 30px;
}
.tab-pane li{
	margin: 10px;
}


.tab-content{
	padding:0 12px;
	margin:60px 0 50px;
	
}
.coupon{
	position: relative;
	width: 100%;
	overflow: hidden;
	font-size: 12px;
	margin:10px 0 1px 0;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 4px #ccc;
}
.coupon h4{
	font-size: 14px;
	font-weight: 700 ;
}
.dash{
	position: absolute;
	top: 28px;
	height: 18px;
	width: 100%;
	overflow: hidden;
}
.dash span{
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
	background-color: #f2f2f2;
}
.dash span:nth-child(1){
	float: left;
	margin-left: -6px;
}
.dash span:nth-child(2){
	float: right;
	margin-right: -6px;
}
.coupon .chead{
	border-bottom: 1px dashed #d6d6d6;
	height: 36px;
	line-height: 36px;
	margin: 0 0 16px 0;
	padding: 0 8px 0 8px;
}
.coupon .cbody img{
	vertical-align: baseline;
	height: 60px;
	width: 22%;
	margin-left: 8px;
	border-radius: 3px;

}
.coupon .cbody > div{
	padding: 0 6px 0 0;
	width: 74%;
	display: inline-block;
}
.coupon .cbody > div p{
	margin-top: 1px;
	color: #999999;
	font-size: 12px;
}
.coupon .cbody > div p:nth-child(4){
	color: #f49f38;
	font-size: 12px;
	margin-top: 10px;
}
.coupon .cbody > div button{
	outline: none;
	border: 1px solid #f49f38;
	width: 60px;
	background-color: #fff;
	color: #f49f38;
	border-radius: 10px;
}

.coupon .cfoot{
	//position: absolute;
	padding:3px 10px 5px;
	//bottom: 0px;
	width: 100%
}
.msg{
	width: 100%;
	min-height: 42px;
	display: none;
	background-color: #fff;
	padding: 9px;
}
.msga{
	font-size: 12px;
	display: inline-block;
	vertical-align: middle;
	height: 16px;
	line-height: 6px;
	margin-left: 2px;
}
#icon{
	display: inline-block;
}
.cfoot img{
	width:16px;
	height: 16px;
}
.edit,.stop,.start{
	margin-right: 4px;
}
.one {
  display: block;
  position: absolute;
  z-index: 10;
  right: -24px;
  bottom: 12px;
  width: 100px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  transform: rotateZ(320deg)
}
.modal-dialog{
	width: 286px;
	height: 266px;
	position: absolute;
	left: 50%;
	margin-left: -143px;
	margin-top: 160px;
}
.modal-content {
	width: 286px;
	//height: 266px;
	border-radius: 12px;
	overflow: hidden;

}
.modal-content .tips{
	border: 1px solid #ccc;
	width: 266px;
	height: 150px;
	margin-top: 8px;
	margin-left: 10px;
	font-size: 12px !important;
}
.desc{
	padding: 10px 27px 0;
}
.desc h1{
	height: 19px;
	line-height: 19px;
	font-size: 12px;
	color: #666;
}
.desc h1:nth-child(1){
	text-align: center;
	color: #007ccf;
	font-size: 16px;
	font-weight: 600;
	margin: 6px 0 8px;
}
.sure{
	text-align: center;
}
.sure p{
	font-size: 14px;
	margin-top: 8px;
}
.sure b{
	font-size: 16px;
	color: #f49f31;
}
.sure h1{
    height: 31px;
    line-height: 25px;
    color: #007ccf;
    font-weight: 700;
    font-size: 16px;
}
.chead i{
	color: red;
}
.nav>li>a{
	padding: 10px 7px;
}
.bmsg{
	display: inherit;
	text-align: center;
	margin: 17px;
}